<!DOCTYPE html>
<html>
<head>
  <title>Binstuff</title>
  <%= stylesheet_link_tag    "application","records", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application","records", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>